button{
    background-color: red;
    color: white;
    border: 0px;
}

button:hover{
    transition-duration: 300ms;
    color: red;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

ul{
    display: flex;
    justify-content: space-around;
}

section.section_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
}